body
{
    font-family: 'Courier New', monospace;
    font-size: 1.333em;
    color:  #3baaff;
    background-color:black;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;
    text-indent: 3.4%;
}




.textSHADOW
{
    
    text-shadow: 0 0 2px purple, 1px 1px 3px red,-2px -2px 2px yellow;

}

.weeks
{
    text-align: center;

    color:red;
    text-shadow: 1px 1px 4px blue, 0 0 1em white, 0 0 .2em green;

}

.onofflinescaled{
    
    width: 100%;
}
img{
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 3px;
}
/*https://stackoverflow.com/questions/3011226/using-background-attachmentfixed-in-safari-on-the-ipad*/
#background_wrap {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    background-image: url('');
    background-position:center;

}
a {
  color: yellow;
}
a:visited {
  color: orange;
}
h1
{
    line-height: 75px;
    font-size: 60px;

}

h2
{

    font-size: 50px;

}
li {


    }
#centered{
    text-align: center;
text-indent: 0em;
}
figure {
    margin-top: 0%;
    display: inline-block;
    }

