body
{
    font-size: 1.2em;
    color: black;
    background-color:white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-indent: 3.4%;

}
h1
{
	line-height: 1.7em;
    font-size: 2em;

}
ul{
text-indent: 2em;
}
h2
{
	
    font-size: 1.5em;

}
ul {    margin-top: 0%;}
figure { 
    margin-top: 0%;
    display: inline-block;
}
